<aside
  aria-atomic="true"
  aria-live="assertive"
  class="toast"
  data-bs-animation="true"
  data-bs-autohide="false"
  id="notification"
  role="alert"
>
  <div class="toast-header">
    <button
      aria-label="Close"
      class="btn-close ms-auto"
      data-bs-dismiss="toast"
      type="button"
    ></button>
  </div>
  <div class="toast-body text-center pt-0">
    <p class="px-2 mb-3">{{ site.data.locales[include.lang].notification.update_found }}</p>
    <button aria-label="Update" class="btn btn-primary" type="button">
      {{ site.data.locales[include.lang].notification.update }}
    </button>
  </div>
</aside>
