<!-- Navigation buttons at the bottom of the post. -->

<nav aria-label="Post Navigation" class="post-navigation d-flex justify-content-between">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% if page.previous.url %}
  <a
    aria-label="{{ previous }}"
    class="btn btn-outline-primary"
    href="{{ site.baseurl }}{{ page.previous.url }}"
  >
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <div aria-label="{{ previous }}" class="btn btn-outline-primary disabled">
    <p>-</p>
  </div>
  {% endif %}

  {% if page.next.url %}
  <a
    aria-label="{{ next }}"
    class="btn btn-outline-primary"
    href="{{ site.baseurl }}{{page.next.url}}"
  >
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <div aria-label="{{ next }}" class="btn btn-outline-primary disabled">
    <p>-</p>
  </div>
  {% endif %}
</nav>
